html {
	background: #101010;
	color: white;
	font-family: monospace;
	font-size: 14px;
	letter-spacing: 0.02em;
}

body {
	padding-top: 3%;
	padding-bottom: 20%;
	width: 60%;
	margin: 0 auto;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #333;
	margin: 1em auto;
	width: 98%;
}

ol {
	list-style-position: outside;
	font-size: 0.8em;
	font-family: serif;
	color: #505050;
}

ul {
	list-style-type: square;
	list-style-position: outside;
	font-size: 0.8em;
	color: #404040;
}

.list {
	font-size: 1.2em;
	color: white;
}

img {
	width: 100%;
	border-radius: 0.4em 0.4em 0 0;
}

.polaroid {
	border-radius: 0.4em;
	box-shadow: 1px 1px 4px black, -1px -1px 4px black;
	display: block;
	margin-bottom: 5%;
	margin-top: 5%;
}

.polaroid>p {
	font-size: 0.8em;
	color: #a0a0a0;
	text-align: center;
	padding: 2%;
	margin-top: 0;
}

b,i { text-shadow: 2px 2px 2px black; }
i { color: #d0d0d0; }

h1,h2,h3 {
	text-shadow: 2px 2px 2px black;
	font-weight: normal;
	letter-spacing: 0.08em;
	line-height: 1.2em;
	/*color: #b01000;*/
}

h1 { font-size: 32px; }
h2 { font-size: 26px; text-indent: 4%; }
h3 { font-size: 20px; text-indent: 4%; }

blockquote {
	box-shadow: 2px 2px 2px #040404;
	color: #a0a0a0;
	background: #0d0d0d;
	padding: 8px;
	border-radius: 0.2em;
	border-left: 0.4em solid black;
	/*
	width: 50%;
	*/
	/*font-size: 20px;*/
}

.cite {
	font-size: 0.6em;
	color: #606060;
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 4px;
	padding-bottom: 0px;
}

pre {
	box-shadow: 2px 2px 2px #040404;
	background: #0d0d0d;
	/*font-size: 20px;*/
	margin: 0 auto;
	padding: 12px;
	padding-bottom: 2em;
	border-radius: 0.2em;
	border-left: 0.4em solid #048004;
}

code {
	color: #b0b0b0;
	background: #0d0d0d;
	padding-left: 4px;
	padding-right: 4px;
}


@media only screen and (max-width: 768px) {
	body {
		width: 90%;
		font-size: 20px;
	}
	pre {
		font-size: 16px;
	}
	blockquote {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1024px) {
	body {
		width: 80%;
		font-size: 20px;
	}
}
